**/__pycache__/
/api/config_infos/uploads
/api/config_infos/template
/api/config_infos/data_sources
/api/config_infos/data_processes
/vue/node_modules
/vue/dist
/deploy/build-ready
/deploy/build_ready
